.cf {
  zoom: 1;
}

.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.km-flat .km-loader,
.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked {
  background: #3598DB;
}

.km-flat .km-loader {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
     -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.km-flat .km-loader:before {
  background: transparent;
}

#valkyrie.km-flat,
#valkyrie.km-flat .km-navbar,
#valkyrie.km-flat .km-content {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border: 0 none;
  background-color: #2d3e50;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

#valkyrie .center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#valkyrie .hide-text {
  overflow: hidden;
  text-indent: -999px;
}

#valkyrie .center-text {
  text-align: center;
}

.disabled {
  position: relative;
  display: block;
}

.disabled:before {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  left: -1px;
  z-index: 1;
  content: '';
}

/* Forms */

::-webkit-input-placeholder {
  color: #b6c5c6;
}

:-moz-placeholder {
  color: #b6c5c6;
}

::-moz-placeholder {
  color: #b6c5c6;
}

:-ms-input-placeholder {
  color: #b6c5c6;
}

#valkyrie.km-flat form .km-list > li {
  padding: .7em .7em .5em;
  border-color: #eaeced;
}

#valkyrie.km-flat form .km-listinset > li:first-child,
#valkyrie.km-flat form .km-listgroupinset .km-list > li:first-child {
  border-width: 0 0 1px;
  border-color: #eaeced;
  -webkit-border-radius: 2px 2px 0 0;
     -moz-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
}

#valkyrie.km-flat form .km-listinset > li:last-child,
#valkyrie.km-flat form .km-listgroupinset .km-list > li:last-child {
  border: 0 none;
  -webkit-border-radius: 0 0 2px 2px;
     -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
}

#valkyrie.km-flat .km-list input[type="text"]:not(.k-input),
#valkyrie.km-flat .km-list input[type="password"],
#valkyrie.km-flat .km-list input[type="email"],
#valkyrie.km-flat .km-list input[type="date"],
#valkyrie.km-flat textarea,
#valkyrie.km-flat select {
  position: static;
  width: 100%;
  height: 30px;
  font-size: 1rem;
}

#valkyrie.km-flat select {
  padding: .4em .2em;
}

/* Buttons */

#valkyrie .btn {
  position: relative;
  margin: 0 -1px;
  padding: .6em 0;
  border: 0 none;
  background-color: #3598db;
  font-size: 1.2rem;
  -webkit-transition: background 0.3s;
     -moz-transition: background 0.3s;
          transition: background 0.3s;
}

#valkyrie .btn:hover {
  background-color: #5dade2;
}

#valkyrie .btn:active {
  background-color: #2485c6;
}

#valkyrie .disabled .btn {
  opacity: .35;
}

#valkyrie .btn-login,
#valkyrie .signup-view .btn-signup {
  background-color: #1bbc9b;
}

#valkyrie .btn-login:hover,
#valkyrie .signup-view .btn-signup:hover {
  background-color: #54cdb4;
}

#valkyrie .btn-login:active,
#valkyrie .signup-view .btn-signup:active {
  background-color: #16a086;
}

#valkyrie .signup-view .btn-signup {
  display: block;
}

#valkyrie .signup-view .btn-signup,
#valkyrie .btn-delete,
#valkyrie .activity-view .km-footer {
  text-align: center;
}

#valkyrie .btn-delete {
  padding: .6em 1.5em;
  background-color: #e84c3d;
}

#valkyrie .btn-delete:hover {
  background-color: #f7625e;
}

#valkyrie .btn-delete:active {
  background-color: #d84039;
}

#valkyrie .oauth-item .btn {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#valkyrie .btn-login-fb {
  background-image: url(images/icon-facebook.png);
}

#valkyrie .btn-login-google {
  background-image: url(images/icon-google.png);
}

#valkyrie .btn-login-liveid {
  background-image: url(images/icon-liveid.png);
}

#valkyrie .btn-login-adsf {
  background-image: url(images/icon-adsf.png);
}

#valkyrie .km-header .nav-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 2em;
  height: 2em;
  border: 0 none;
  background-color: transparent;
  background-position: 0 50%;
  background-repeat: no-repeat;
}

#valkyrie .km-header .nav-button-back {
  background-image: url(images/icon-arrow_left.png);
  background-position: .65em 50%;
}

#valkyrie .km-header .nav-button-add {
  background-image: url(images/icon-add.png);
}

#valkyrie .km-header .nav-button-back,
#valkyrie .km-header .nav-button-add {
  -webkit-transition: opacity 0.3s;
     -moz-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

#valkyrie .km-header .nav-button-back:hover,
#valkyrie .km-header .nav-button-add:hover {
  opacity: .6;
}

#valkyrie .km-header .nav-button-cancel,
#valkyrie .km-header .nav-button-post {
  width: auto;
  height: 2.5em;
  font-size: .85rem;
  line-height: 2.5em;
}

/* App Header */

#valkyrie.km-flat.km-on-ios.km-black-translucent-status-bar .km-header {
  min-height: 20px;
  background-color: #2d3e50;
}

#valkyrie.km-flat .km-header .km-navbar {
  min-height: 3.15em;
}

#valkyrie.km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-navbar {
  min-height: 4.5em;
}

#valkyrie.km-flat .km-header .km-view-title {
  margin-top: .4em;
  font-size: 1rem;
}

#valkyrie.km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-view-title {
  margin-top: .4em;
}

/* App Footer */

#valkyrie .welcome-scrn .km-footer {
  background-color: transparent;
  color: #fff;
  text-align: center;
}

#valkyrie .welcome-scrn .km-footer p {
  font-size: .75rem;
}

/* Welcome screen */

#valkyrie .app-logo,
#valkyrie .app-name {
  margin-top: 2.5em;
}

#valkyrie .app-logo {
  width: 247px;
  height: 32px;
  background: transparent url(images/logo-telerik_devcloud.png) no-repeat 0 0;
}

#valkyrie .app-name {
  margin-bottom: 2.5em;
}

#valkyrie .app-name small {
  display: block;
  font-weight: 400;
  font-size: 1.15rem;
}

#login-form .username,
#login-form .password {
  position: relative;
}

#login-form .username:before,
#login-form .password:before {
  position: absolute;
  top: 50%;
  right: .75em;
  display: block;
  margin-top: -.5em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
}

#login-form .username:before {
  background-image: url(images/icon-username.png);
}

#login-form .password:before {
  background-image: url(images/icon-password.png);
}

#valkyrie .welcome-scrn .group-wrp {
  margin: -1em 1em 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#valkyrie .welcome-scrn .group-wrp li {
  margin: 1.5em 0 0;
}

#valkyrie .welcome-scrn .group-wrp .btn {
  display: block;
}

#valkyrie .welcome-scrn .group-wrp .oauth {
  margin-right: -1%;
  margin-left: -1%;
}

#valkyrie .welcome-scrn .group-wrp .oauth .oauth-item {
  float: left;
  margin: 0 1%;
  width: 23%;
}

#valkyrie .welcome-scrn .group-wrp .oauth .btn {
  overflow: hidden;
  height: 45px;
  text-indent: -999px;
}

#valkyrie .welcome-scrn .group-wrp .oauth .btn span,
#valkyrie .welcome-scrn .group-wrp .btn-signup span {
  font-weight: 500;
  font-size: 1rem;
}

#valkyrie .km-header .nav-button-cancel,
#valkyrie .km-header .nav-button-post,
#valkyrie .welcome-scrn .group-wrp .btn-signup {
  -webkit-transition: color 0.3s;
     -moz-transition: color 0.3s;
          transition: color 0.3s;
}

#valkyrie .welcome-scrn .group-wrp .btn-signup {
  border: 0 none;
  background-color: transparent;
}

#valkyrie .km-header .nav-button-cancel:hover,
#valkyrie .km-header .nav-button-post:hover,
#valkyrie .welcome-scrn .group-wrp .btn-signup:hover {
  color: #d4d4d4;
}

/* No API Key screen */

#valkyrie .noapikey-scrn p {
    line-height: 1.5;
    color: #e4e4e4;
}

#valkyrie .noapikey-scrn p strong,
#valkyrie .noapikey-scrn p span {
    color: #fff;
}

#valkyrie .noapikey-scrn p span {
    font-weight: 600;
}

/* Signup */

#valkyrie .signup-view .select-wrp {
  -webkit-border-radius: 0 0 2px 2px;
     -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
}

#valkyrie.km-flat .signup-view .km-listinset > li:last-child {
  margin: .5em 0 0;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

#valkyrie .txtarea-wrp textarea {
  float: none;
  height: 5.5em;
  resize: none;
}

#valkyrie .signup-view .signup-btn-wrp {
  margin: 0 1em;
}

#valkyrie .signup-view .select-wrp select {
  color: #b6c5c6;
}

#valkyrie .signup-view .select-wrp option:first-child {
  color: #b6c5c6;
}

/* Activities */

#valkyrie .activities-view .km-content,
#valkyrie .activity-view .km-content,
#valkyrie .add-activity-view .km-content,
#valkyrie .add-comment-view .km-content,
#valkyrie .activities-view .km-listview {
  background-color: #fff;
}

#valkyrie .activities-view .km-list > li,
#valkyrie .activity-view .km-list > li {
  overflow: visible;
  padding: .75em 0;
  border-width: 0 0 1px;
  border-color: #eaeced;
  background-color: #fff;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  color: #34495e;
}

#valkyrie .activity-view .comments-wrp {
  margin-top: 1em;
  border-top: 1px solid #eaeced;
}

#valkyrie .activities-view .km-list > li:first-child {
  padding-top: 0;
}

#valkyrie .user-avatar {
  float: left;
  width: 50px;
}

#valkyrie .user-avatar img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
}

#valkyrie .activity-content {
  position: relative;
  padding-left: 5em;
  font-size: .85rem;
}

#valkyrie .activity-content .person-name,
#valkyrie .add-activity-view .person-name,
#valkyrie .add-comment-view .person-name,
#valkyrie .activity-content .time-span {
  font-weight: 600;
}

#valkyrie .add-activity-view .person-name,
#valkyrie .add-comment-view .person-name,
#valkyrie .activity-content .person-name {
  display: block;
  margin: 0 0 .5em;
  color: #3598db;
  font-size: 1.1rem;
}

#valkyrie .person-name {
  overflow: hidden;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#valkyrie .activity-content .time-span {
  position: absolute;
  top: 5px;
  right: 0;
  color: #6c7884;
  text-transform: uppercase;
  font-size: .7rem;
}

#valkyrie .activity-content .comment-content .time-span {
  top: 12px;
  font-size: .6rem;
}

#valkyrie .user-share-txt {
  color: #34495e;
}

#valkyrie .activity-content .comment-content .user-share-txt {
  font-size: .75rem;
}

#valkyrie .activity-view .person-name,
#valkyrie .add-activity-view .person-name,
#valkyrie .add-comment-view .person-name {
  margin: .85em 0 1em;
}

#valkyrie .activity-view .comment-content .person-name {
  margin: 0;
  font-size: .85rem;
}

#valkyrie .add-activity-view .person-name,
#valkyrie .add-comment-view .person-name {
  padding-left: .75em;
}

#valkyrie .activity-view .picture {
  margin: 1em 0 0;
}

#valkyrie .user-share {
  position: relative;
  margin: 2.35em 0 0;
}

#valkyrie .user-share:before {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
}

#valkyrie .user-share:before {
  top: -10px;
  left: 16px;
  border-right: 9px solid transparent;
  border-bottom: 10px solid #f5f7f8;
  border-left: 9px solid transparent;
}

#valkyrie .user-share textarea {
  float: none;
  margin: 0;
  padding: .75em 1em;
  min-height: 3em;
  height: 13.5em;
  background-color: #f5f7f8;
  resize: none;
}

#valkyrie .activity-view .km-footer {
  padding: 0 1em 1em;
  background: #fff none;
}

#valkyrie .add-activity-view .km-leftitem,
#valkyrie .add-comment-view .km-leftitem {
  left: 1em;
}

#valkyrie .add-activity-view .km-rightitem,
#valkyrie .add-comment-view .km-rightitem,
#valkyrie .activity-view .km-rightitem {
    right: 1em;
}

#valkyrie.km-black-translucent-status-bar .km-navbar .km-leftitem,
#valkyrie.km-black-translucent-status-bar .km-navbar .km-rightitem {
  margin-top: .4em;
}

#valkyrie .k-invalid-msg {
  display: none;
  margin: 1rem 0 0;
  padding: 0 1rem;
  color: #e84c3d;
}
